h1{
        border-width:10px;	
        border-bottom-style:groove;
	text-align:center;
	color: #330000;	
	letter-spacing: 3px;
	margin-top: 50px;
	font-size: 300%;
	font-family:"Comic Sans MS";
	text-shadow: 6px 5px;
}


.img {
    margin: 20px;
    border: 3px solid #ccc;
    float: right;
    width: 180px;    
}	

.img:hover {
    border: 3px solid #777;
}

.img img {
    width: 180px;
    height: 130px;
    float: right;
}

.desc {
    padding: 15px;
    text-align: center;
    font-weight: bold;
}

.box{
	width: 80%;
	background:rgb(56,0,0);
	text-align: 50px;
	box-shadow: 5px 5px 5px #660022;
	margin: auto;
	margin-left: auto;
	border-width:10px;	
        border-bottom-style:groove;
       margin-top: 30px; 
}
/*pp{

  position: relative;
  margin-top: 50px;
  bottom: 280px;
    text-decoration-color: rgb(51,51,153);
    font-family: "Times New Roman";
    font-size: 130%;
    text-align: left;
}*/
.imgClass{
float: right; 
 margin-bottom: 5px;
 width: 280px;
    height: 230px;
    float: right;
    margin-left: 10px;
     -webkit-transition-property: height, width;
    -webkit-transition-duration: 1s;
}
.imgClass:hover
{

	width: 300px;
    height: 300px;
    -webkit-transition-property: height, width;
    -webkit-transition-duration: 1s;
}
#cold
{
    text-align: justify;

	color:#001a33;
font-size: 130%;
text-indent: 50px;
font-family: Lucida Sans unicode;
border-width:10px;	
        border-bottom-style:groove;
       margin-top: 30px; 
}
#nr1 {
	margin-left: 20px;
font-size: 130%;
/*text-indent: 100px;*/
font-family:Times New Roman;
display: inline;
color: #a6a6a6;


}
