body{
	background: #e3e3e3;
	font-family: 'Indie Flower', cursive;
	-webkit-animation-name: color_change;
  	-webkit-animation-iteration-count: infinite;  
  	-webkit-animation-duration: 5s;
}
.cover{
	background-image: url("../img/cover.jpg"); 
	 min-height: 150px;
	 height: 100%;
    background-size:100%;
	background-repeat: repeat-x;
	background-position:center;

}
.template{
	margin-right: 20%;
	margin-left: 20%;	
	background: white;	
	border: 2px solid #d9d9d9;
	min-width: 450px;
}
.header,.body,.cover{
	clear: both;
	margin: 5px 30px 5px 30px;

}
.cover{
	margin: 0;
}

.body h1{
	clear:both;

	text-align: center;
}
.header ul{
	text-align: center;

}
.header ul li{
	display: inline;
	margin-right: 25px;

}
.header ul li a{
	box-shadow: 3px 3px 10px #CCC6C6;
}
.header ul a{
	text-decoration: none;
	color: #8F8D8D;

	
}
.header ul a:hover{
	color:black;
	box-shadow: 3px 3px 10px #7D7575;
}
#p1{
	float: left;
	width: 48%;
}
#p2{
	float: right;
	width: 48%;

}
.body{
	clear: both;
}
.footer  #admin{
	float: left;
	margin-top: 30px;
	margin-left: 15px;
	
}
.footer  #info{	
	float: right;
	margin-top: 30px;
	margin-right: 15px;
}
.footer {
	clear: both;
	height: 80px;
	background: #e1e1e1;
}

/* trasee */
article{
	height: 100%;
	margin: auto;
	overflow: hidden;
	background: white;
}
article img{

	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	float: left;
	width: 10%;
	
}
.coloana h2 .traseu {
	font-size: 33px;
	margin:0;
	margin-top: 8px;
	letter-spacing: -1px;
}
.coloana{
	float: right;
	width: 80%;
	padding-right: 15px;

}

/* contact */

#adresa,.atractii,a.atr{
	text-decoration: none;
	color: black;
}
#adresa:hover,.atractii:hover,a.atr:hover{
	color:grey;

}

/* Atractii */

article .atractii {
	margin-top: 30px;
	margin-left: 0;
	margin-right: 30px;
	float: left;
	width: 40%;
}

/* Drop down */

.dropbtn {
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 246px;
    margin-left: 65px;
}

.dropdown-content a {
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
    text-align: center;
}
/* Cplor change */

@-webkit-keyframes color_change {
	0% { background-color: #e3e3e3; }
  	50% { background-color: white; }
  	100% { background-color: #e3e3e3; }
}

/* img transformation */

.atractii{
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.atractii:hover {
  width: 60%;
}

/* Rotation img   */
.side {
  
  animation: rotation 2s;
}

@keyframes rotation {
	0%{
		transform: rotateY(0deg);
	}
	100%{
		transform: rotateY(360deg);
	}
}