/* 
	=================================CSS RESET=====================================
		just to be sure that al my elements starts with margin and paddding 0 
*/
* {
	margin : 0px;
	padding : 0px; 
} 


/* ============================CSS Drop Down Menu================================= */


.dropdown {
    font-size:large;
    display : inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;


}

/*
    Stil definit pentru clasa dropdown-content care este IN INTERIORUL
    unui element ce are clasa dropdown, pentru evenimentul de mouse over
*/
.dropdown:hover .dropdown-content {
    display: inline;
    min-width : 180px; 
    font-size:large;
	background-color: #d1d1f1;
	z-index : 999999;
}
.dropdown:hover .dropdown-content p {
	padding : 15px;
}

.dropdown span {
	background-color: #dbdbfb;
	min-width:120px;
	display:block;
	padding : 15px;
}

/* =============================================================================== */

.mainContent {
	background-color: #f8f8f8;
	padding:15px;
	text-align: justify;
	
}

.mainContent span {
	float: left;
    max-width: 300px;
    background-color: #f8f8f8;
    position: relative;
    padding:30px;
    border : dotted 1px #999;
	
}