.image{
    float:left;
    width: 30%;
    height: 350px;
    margin: 1%;
    
    -webkit-animation-name: fadeUp;
    -webkit-animation-duration: 1s;
}

.image img{
    max-height: 100%;
    max-width: 100%;
    box-shadow: 5px 5px 5px #e3e3e3;
    
    transition: all .2s ease-in-out;
}

.image img:hover{
    transform: scale(1.2);
}


@media screen and (max-width: 1000px){
    .image{
        min-width: 250px;
    }
    
    .image img:hover{
        transform: none;
    }
}