body{
    margin: 0;
    font-family: Arial;
    background: #e1ece7;
}

header{
    background: #1a202c;
    color: white;
    padding: 15px 0px 0px 0px;
}

#title{
    margin: 0 0 15px 120px;
}

#main_menu{
    padding: 0 0 0 70px;
    margin: 0 auto;
    background: #d13f31;
    height: auto;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
}

#main_menu ul{
    list-style-type: none;
    margin: 0;
}

#main_menu ul li{
    padding: 0px;
    display:inline-block;
    
}

#main_menu ul li a{
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 15px 0 15px;
    font-size: 18px;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color:white;
}

#main_menu ul li a:hover{
    background: #e1ece7;
    color: #1a202c;
}

#main_menu ul li .current_page{
    background: #e1ece7;
    color: #1a202c;
    font-weight: bold;
}

footer{
    background: #1a202c;
    padding: 7px;
}

footer p{
    margin: 10px;
    color: white;
}

.page{
    margin: 0 100px;
    padding: 10px;
}

.page:after{
    clear:both;
    content:"";
    display:table;
    
}

@media screen and (max-width: 650px){
    #main_menu{
        padding: 0;
    }
    #main_menu ul li{
        display:table;
        
    }
    
    .page{
        margin: 0;
    }
}