.video{
    margin: 20px 30px 30px 0;
    width: 45%;
    float: left;
}

.video video{
    width: 100%;
    box-shadow: 5px 5px 5px #888888;
}

.video h3{
    text-align: center;
}

@media screen and (max-width: 850px){
    .video{
        width: 450px;
        height: auto;
    }
}

@media screen and (max-width: 650px){
    .video{
        width: 90%;
        height: auto;
    }
}