@-webkit-keyframes changecolor{
    0%{
        color: blue; 
    }
    
    25%{
        color: yellow;
    }
    
    50%{
        color: red;
    }
    
    75%{
        color: yellow;
    }
    
    100%{
        color: blue;
    }
}

@-webkit-keyframes rotateRight {
    0% {
         
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes rotateLeft {
    0% {
         
    }

    100% {
        -webkit-transform: rotate(-360deg);
    }
}

@-webkit-keyframes fadeUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-webkit-keyframes fadeDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}
