@font-face {
    font-family: BrockScript;
    src: url(../BrockScript.ttf);
}
.clearfix {
	clear: both;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
body {
	letter-spacing: 3px;
}
header {
	border-top: 1px solid #333;
	border-bottom: 2px solid #77aaaa;
	background-color: #cccaaa;
	clear: right;
	min-height: 150px;
	border-radius: 8px 0px 0px 0px;
	padding: 10px 10px 0 10px;
	overflow: hidden;
}
#menu	 {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 70%;
}
#title {
	font-size: 4em;
	font-family: BrockScript;
	margin-left: 30px;
}
#basket {
	float: right;
}
#menu li {
	text-transform: uppercase;
	float: left;
	margin: 0 10px;
	font-family: Verdana;
	margin-right: 1.8em;
	margin-bottom: 0.5em;
}
#menu a {
	color: #22aaaa;
}
#menu a:hover {
	color: #77aaaa;
}
#container {
	width: 100%;
	min-height: 400px;
	background-color: #554433;
	color: #ccc;
}
section {
	margin-bottom: 30px;
}
article {
	background-color: white;
	margin: 0 10px;
}
article h4 {
	color: #448823;
	font-family: Arial;
	font-size: 0.8em;
	text-align: center;
}
#wrapper {
	padding:15px;
}
footer {
	text-align: center;
	padding: 5px;
	background-color: #cccaaa;
	border-top: 2px solid #77aaaa;
	border-bottom: 1px solid #333;
	border-radius: 0px 0px 8px 0px;
}
article {
	float: left;
}
article figure img {
	width: 200px;
	height: auto;
}
article figure img:hover {
	transform:rotate(5deg);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
}
.dropdown-content li {
	list-style-type: none;
	clear: left;
	margin: 0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.blink_me {
  animation: blinker 1s linear infinite;
}
@keyframes blinker {  
  50% { opacity: 0.0; }
}