*	{ 
	margin : 10px;
	padding : 0px; 
	font-family: "Lucida Console"
}

div {
	background-color : #bbf
}

span {
	background-color : #99f
}

.pdiv {
	padding: 100px;
	border: 2px dotted #33f;
}

.mdiv {
	margin: 100px;
	border: 2px dotted #33f;
}

a{
   opacity:0.3;
	font-size: 24px;
}
a:hover{
   	opacity:1;
	font-size: 24px;
	text-decoration: none;
}


h3{
	text-align: center;
	padding-top:50px;
}