body {
     background-color: #e6e6e6;
     }

.head {

      height: 60px;
      background-color: #1a75ff;
      min-width: 700px;


      }

.titlu {
       margin: 0px 5px 10px 0px;
       padding-top: 10px;
       text-align: center;

       }

.body {

      background-color: white;
      height: 1000px;
      width: 60%;
      margin-left: 20%;
      margin-right: 20%;
      min-width: 300px;

      }

.p_meniu {
         margin: 0px;
         font-size: 50px;
         padding: 0px;
         }

.meniu {
       position: absolute;


       height: 60px;
       width: 150px;
       background-color: #0052cc;
       }


.meniu:hover {
              margin:0px;
              position: absolute;
              height: 60px;
              width: 150px;
              background-color: #002966;
              }

.meniu:hover .meniu-content {

              height: 200px;
              width: 150px;
              display: block;
              z-index: 1;

             }
.meniu-content {
                display: none;
                position: relative;

                width: 150px;
                height: 200px;


                }


.link_meniu:link, .link_meniu:visited
                   {
                    background-color: #1a75ff;
                    color: white;
                    padding: 20px 200px 20px 5px;
                    max-width: 20px;
                    text-decoration: none;
                    display: inline-block;

                      margin:0px;
                   }


.link_meniu:hover, .link_meniu:active
                {
                background-color: #002966;
                }
.body p {
        text-indent: 30px;
        margin: 5px;
        }

.body h1 {
         margin: 0px 5px 10px 5px;
         }
